/***********************************************************
 * 
 *    Basic styles
 *
 ***********************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --text-color-normal: hsl(210, 10%, 62%);
  --text-color-light: hsl(210, 15%, 35%);
  --text-color-richer: hsl(210, 50%, 72%);
  --text-color-highlight: hsl(25, 70%, 45%);
}

/***********************************************************
 * 
 *    Page main layout
 *
 ***********************************************************/

html,
body {
  height: 100%;
  min-height: 100%;
  background-color: #333;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
}

#epic-container {
  height: 100%;
  background-color: #333;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}

#structure-container-scroll-y {
  flex: auto;
  overflow: auto;
}

#main-container-scroll-y {
  display: flex;
  flex: auto;
  overflow-y: auto;
}

#main-container-tree {
  display: flex;
  width: 100%;
  min-height: 100%;
}

#wave-time-placeholder {
  display: flex;
  min-height: 100%;
  min-width: 100%;
  background-color: #222;
}

#wave-axis-container {
  position: sticky;
  top: 0;
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow-x: auto;
  min-height: 100%;

  /* The resize bar is 5px wide */
  margin-left: 5px;
}

#wave-axis-canvas-sticky {
  height: 100%;
  width: 100%;
  position: sticky;
  left: 0px;
}

/* Create two canvas on top of each other
https://stackoverflow.com/a/2941203/2506522 */
#wave-axis-canvas-relative {
  width: 100%;
  height: 100%;
  position: relative;
}

#wave-axis-canvas-webgl2,
#wave-axis-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#wave-axis-canvas-webgl2 {
  z-index: 1;
}

#wave-axis-canvas {
  z-index: 10;
}

.ui-resizable-handle {
  width: 5px;
  background: #bbb;
  padding: 0px;
}

.resizable-col {
  width: 100px;
  padding: 0px 3px 0px 7px;
}

footer {
  display: flex;
  height: 20px;
  color: #aaa;
  font-size: 11px;
  margin-top: auto;
}

/***********************************************************
 * 
 *    The navigation bar aka. menubar
 *
 ***********************************************************/

.navbar-inverse {
  background-color: #444;
}

.toolbar {
  border-top: 1px solid #888;
}

.tool-group-container {
  display: inline-block;
  border-right: 1px solid #888;
  padding: 0px 4px 0px 2px;
}

.tool-group-name {
  text-align: center;
  color: #ccc;
  font-size: 11px;
}

.navbar-btn {
  min-width: 50px;
}

.check-group {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

/***********************************************************
 * 
 *    Signal names and values column
 *
 ***********************************************************/

#mainGr {
  transform: translateX(8px);
}

.signal-name,
.value-col-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-family: sans-serif;
  /* The height is set in the ValueCol class directly */
}

.value-col-item-selected {
  background-color: #555;
}

#object-tree {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: sans-serif;
}

#structure-col {
  display: flex;
  flex-direction: column;
}

input {
  background: #666;
}

#structure-search::placeholder {
  color: #aaa;
}

#names-col-container,
#values-col-container {
  height: max-content;
  min-height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}

#names-col-container-scroll,
#values-col-container-scroll {
  overflow: auto;
  height: 100%;
}

/* placeholder for the axis */
#names-col-placeholder,
#values-col-placeholder {
  height: 26px;
}

/***********************************************************
 * 
 *    SVG styles for signals
 *
 ***********************************************************/

.highlighted-signal {
  background-color: #5589c5;
}

line.signal-valid {
  stroke: rgb(0, 235, 0);
}

line.signal-x {
  stroke: rgb(235, 0, 0);
}

line.signal-highz {
  stroke: rgb(0, 0, 235);
}

text.bus-value {
  fill: white;
  text-anchor: middle;
  dominant-baseline: central;
  pointer-events: none;
}

/**
 * Signal highlighter:
 * 
 * There are several ways to highlight a signal.
 *   1: Change color using d3 selections in js
 *   2: stronger-stroke:
 *       1 -> 2 use with shape-rendering: crispEdges; (https://stackoverflow.com/a/34229584/2506522)
 *       2 -> 3 (seems too strong for me)
 *   3: Using opacity to make it darker ( 0.8 -> 1.0)
 */
.signalRow:not(.highlighted-signal) {
  stroke-width: 2;
  stroke-opacity: 0.8;
}

.signalRow.highlighted-signal {
  stroke-width: 2;
  stroke-opacity: 1;
}

#grid-gr {
  color: #bbb;
}

.wave-style-bus {
  fill-opacity: 0.04;
}

.wave-style-bit {
  fill-opacity: 0.05;
}

#main-cursor {
  stroke-width: 3;
  stroke: #fc3;
  stroke-opacity: 0.8;
  shape-rendering: crispedges;
}

rect.signal-highlighter {
  opacity: 0;
}

rect.time-grid-shadow-rect {
  opacity: 0.8;
  fill: #222;
}

@media only screen and (max-width: 1299px) {
  #tool-group-zoom {
    display: none;
  }

  .tool-group-name {
    display: none;
  }

  #navbar-menubar-normal {
    display: none;
  }
}

@media only screen and (max-width: 999px) {
  #tool-group-cursor {
    display: none;
  }
}

/* jstree workaround based on: https://stackoverflow.com/a/65616873/2506522 */
#values-col-container i {
  display: none;
}

.menu-label {
  color: #222;
  font-weight: 300;
}
